<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Courses</title>
</head>

<body>
<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <span class="ml-3 text-xl">Code_Spot</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <li>Welcome, {{ email }} </li>
            <a class="mr-12 text-gray-600 hover:text-black hover:underline" title="Home" href="welcome.html"><b>Home</b></a>
            <a class="mr-12 text-gray-600 hover:text-black hover:underline" title="Courses" href="courses.html">Courses</a>
            <a class="mr-12 text-gray-600 hover:text-black hover:underline" title="Contact Us" href="contact.html">Contact Us</a>
            <a class="mr-5 text-gray-600 hover:text-black hover:underline" title="Log Out" href="/logout">Log Out</a>
      </nav>
    </div>
  </header>